@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: $bg-color-two;
}

body::-webkit-scrollbar-thumb {
  background-color: $bg-color-one;
  border: solid 2px $bg-color-two;
  border-radius: 25px;
}
